p,h2,h3 {
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    font-weight: bold;
}

img {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}

sidebar {
    width:200px;
    height:auto;
    margin-top: 10px;
    margin-right: 25px;
}

footer {
    font: Ariel;
    font-weight: bold;
    background: #777777;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}